/** Homepage Responsive CSS Start **/
@media only screen and (max-width: 1910px) {
	.elementor-66 .elementor-element.elementor-element-a095953 .elementor-button {
		padding: 49px 71px 49px 71px;
	}
	.elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		padding: 50px 50px 50px 50px;
	}
	.elementor-66 .elementor-element.elementor-element-2ab3290 {
		padding: 0px 0px 0px 50px;
	}
	.elementor-66 .elementor-element.elementor-element-a93cf66 {
		width: 65%;
	}
	.elementor-66 .elementor-element.elementor-element-532ddf7 {
		width: 35%;
	}
}
@media only screen and (max-width: 1680px) {
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--main .pp-menu-item {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.elementor-66 .elementor-element.elementor-element-a93cf66 > .elementor-element-populated {
		padding: 0px 35px 0px 0px;
	}
	.elementor-66 .elementor-element.elementor-element-a095953 .elementor-button {
		padding: 42.5px 63px 42.5px 63px;
	}
	.elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		padding: 43.5px 44px 43.5px 44px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu .pp-menu-item, .elementor-66 .elementor-element.elementor-element-a095953 .elementor-button, .elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		font-size: 18px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--dropdown .pp-sub-item {
		font-size: 18px;
		line-height: 18px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--main .pp-advanced-menu--dropdown a {
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 21px;
		padding-bottom: 21px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 80px;
		line-height: 80px;
		margin-bottom: 16px;
	}
	.elementor-215 .elementor-element.elementor-element-9984dd0 .elementor-heading-title, .footer-menu .pp-advanced-menu .pp-menu-item {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.footer-menu .pp-advanced-menu li:before {
		top: 6px;
	}
}
@media only screen and (max-width: 1585px) {
	.elementor-66 .elementor-element.elementor-element-a93cf66 > .elementor-element-populated {
		padding: 0px 15px 0px 0px;
	}
	.elementor-66 .elementor-element.elementor-element-2ab3290 {
		padding: 0px 0px 0px 20px;
	}
	.elementor-66 .elementor-element.elementor-element-a095953 .elementor-button {
		padding: 42.5px 58px 42.5px 58px;
	}
	.elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		padding: 43.5px 39px 43.5px 39px;
	}
	.elementor-66 .elementor-element.elementor-element-a93cf66 > .elementor-element-populated {
		padding: 0px 5px 0px 0px;
	}
}
@media only screen and (max-width: 1440px) {
	.elementor-66 .elementor-element.elementor-element-532ddf7 {
		width: 32%;
	}
	.elementor-66 .elementor-element.elementor-element-a93cf66 {
		width: 68%;
	}
	.elementor-66 .elementor-element.elementor-element-a93cf66 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu .pp-menu-item, .elementor-66 .elementor-element.elementor-element-a095953 .elementor-button, .elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		font-size: 17px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--dropdown .pp-sub-item {
		font-size: 17px;
		line-height: 17px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--main .pp-menu-item {
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.elementor-66 .elementor-element.elementor-element-a095953 .elementor-button {
		padding: 40.5px 26px 40.5px 26px;
	}
	.elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		padding: 41.5px 23px 41.5px 23px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--main .pp-advanced-menu--dropdown a {
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 19px;
		padding-bottom: 19px;
	}
	.elementor-14 .elementor-element.elementor-element-f344bfb {
		padding: 115px 20px 125px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 70px;
		line-height: 70px;
		margin-bottom: 14px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-subtitle {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 13px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-subtitle {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 13px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-description {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 23px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-button, .work-button a {
		font-size: 18px !important;
		padding: 14px 57px 14px 57px !important;
	}
	.elementor-14 .elementor-element.elementor-element-c5783ac {
		padding: 70px 10px 70px 10px;
	}
	.elementor-14 .elementor-element.elementor-element-dec4a1e {
		padding: 80px 20px 80px 20px;
	}
	.ps-heading h2 {
		font-size: 28px !important;
		line-height: 34px !important;
	}
	.elementor-14 .elementor-element.elementor-element-daaff3a > .elementor-widget-container {
		margin: 16px 0px 24px 0px;
	}
	.elementor-14 .elementor-element.elementor-element-daaff3a .pp-icon-list-text {
		font-size: 18px;
		line-height: 26px;
	}
	.elementor-14 .elementor-element.elementor-element-eeb6492 {
		padding: 73px 20px 0px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-030d8b9 {
		margin-top: 28px;
	}
	.services-heading h2 {
		font-size: 22px !important;
		line-height: 28px !important;
	}
	.services-bottom-box .pp-info-box-title {
		font-size: 22px !important;
		line-height: 28px !important;
		margin-bottom: 12px !important;
	}
	.services-bottom-box .pp-info-box-description {
		font-size: 18px !important;
		line-height: 26px !important;
		margin-bottom: 12px !important;
	}
	.services-bottom-box a.pp-info-box-button {
		font-size: 18px !important;
		padding: 14px 41.5px 14px 41.5px !important;
	}
	.learn-button a {
		font-size: 18px !important;
		padding: 14px 66.5px 14px 66.5px !important;
	}
	.services-parent-box .pp-info-box-description {
		height: 110px !important;
	}
	.elementor-14 .elementor-element.elementor-element-e2b6b03 {
		padding: 0px 20px 80px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-225b0cf {
		padding: 120px 0px 120px 0px;
	}
	.elementor-14 .elementor-element.elementor-element-4960cc6 {
		padding: 0px 30px 0px 30px !important;
	}
	.elementor-14 .elementor-element.elementor-element-5917db3 > .elementor-element-populated {
		padding: 0px 0px 0px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-4960cc6 {
		padding: 0px 20px 0px 0px !important;
	}
	.elementor-215 .elementor-element.elementor-element-d5dde90 {
		padding: 60px 20px 53px 20px;
	}
	.elementor-215 .elementor-element.elementor-element-494c7e0 {
		padding: 15px 20px 15px 20px;
	}
	.elementor-215 .elementor-element.elementor-element-9984dd0 > .elementor-widget-container {
		margin: 32px 0px 0px 0px;
	}
	.footer-heading h2 {
		font-size: 20px !important;
		line-height: 30px !important;
	}
	.footer-menu .pp-advanced-menu li:not(:last-child) {
		margin-bottom: 12px !important;
	}
	.footer-menu > .elementor-widget-container {
		margin: 20px 0px 0px 0px !important;
	}
	.elementor-215 .elementor-element.elementor-element-ea30f47 > .elementor-widget-container {
		margin: 27px 0px 15px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-8b08a1d .elementor-button {
		font-size: 18px;
		padding: 13px 44.5px 13px 44.5px;
	}
	.elementor-215 .elementor-element.elementor-element-4ae6fbd > .elementor-element-populated {
		padding: 0px 0px 0px 50px;
	}
	.services-bottom-box .elementor-col-100 > .elementor-element-populated {
		padding: 95px 30px 25px 30px !important;
	}
}
@media only screen and (max-width: 1350px) {
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu .pp-menu-item, .elementor-66 .elementor-element.elementor-element-a095953 .elementor-button, .elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		font-size: 16px;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 .pp-advanced-menu--dropdown .pp-sub-item {
		font-size: 16px;
		line-height: 16px;
	}
	.elementor-66 .elementor-element.elementor-element-f069cdd .elementor-button {
		padding: 37px 20.5px 37px 20.5px;
	}
	.elementor-66 .elementor-element.elementor-element-a095953 .elementor-button {
		padding: 36px 22.5px 36px 22.5px;
	}
}
@media only screen and (max-width: 1280px) {
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 65px;
		line-height: 65px;
		margin-bottom: 15px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-subtitle {
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 13px;
	}
	.services-heading > .elementor-widget-container {
		padding: 60px 20px 60px 20px !important;
	}
	.services-heading > .elementor-widget-container {
		padding: 50px 20px 50px 20px !important;
	}
	.services-top-box > .elementor-container {
		min-height: unset !important;
	}
}
@media only screen and (max-width: 1170px) {
	.services-bottom-box .elementor-col-100 > .elementor-element-populated {
		padding: 55px 20px 25px 20px !important;
	}
}
@media only screen and (max-width: 1100px) {
	.elementor-14 .elementor-element.elementor-element-12d5f5a > .elementor-widget-container {
		margin: -28px 0px 0px 0px;
	}
}
@media only screen and (max-width: 1024px) {
	.elementor-14 .elementor-element.elementor-element-f344bfb {
		padding: 111px 20px 120px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 15px;
	}
	.elementor-14 .elementor-element.elementor-element-4960cc6 > .elementor-container {
		min-height: unset;
		height: unset;
	}
	.elementor-14 .elementor-element.elementor-element-12d5f5a > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-14 .elementor-element.elementor-element-c5783ac {
		padding: 50px 10px 50px 10px;
	}
	.elementor-14 .elementor-element.elementor-element-dec4a1e {
		padding: 60px 20px 60px 20px;
	}
	.ps-heading h2 {
		font-size: 25px !important;
		line-height: 30px !important;
	}
	.elementor-14 .elementor-element.elementor-element-daaff3a .pp-icon-list-text {
		font-size: 17px;
		line-height: 25px;
	}
	.elementor-14 .elementor-element.elementor-element-daaff3a > .elementor-widget-container {
		margin: 18px 0px 24px 0px;
	}
	.elementor-14 .elementor-element.elementor-element-eeb6492 {
		padding: 54px 20px 0px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-030d8b9 {
		margin-top: 24px;
	}
	.elementor-14 .elementor-element.elementor-element-267bff2 {
		width: 50%;
	}
	.elementor-element.elementor-element-817d082 > .elementor-container {
		column-gap: 0;
	}
	.elementor-element.elementor-element-030d8b9 .services-parent-box > .elementor-element-populated, .elementor-element.elementor-element-817d082 .services-parent-box > .elementor-element-populated {
		max-width: 368px;
	}
	.elementor-element.elementor-element-020eda5 > .elementor-element-populated {
		margin-top: 30px !important;
	}
	.elementor-element.elementor-element-37e3828 img, .elementor-element.elementor-element-75ec0ab img {
		width: 368px;
		height: 400px;
		object-fit: cover;
	}
	.services-heading > .elementor-widget-container {
		padding: 44px 20px 44px 20px !important;
	}
	.services-bottom-box > .elementor-container {
		min-height: 400px !important;
	}
	.elementor-14 .elementor-element.elementor-element-e2b6b03 {
		padding: 0px 20px 60px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-225b0cf {
		padding: 60px 0px 60px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-4ae6fbd > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-d5dde90 {
		padding: 50px 20px 43px 20px;
	}
	.elementor-215 .elementor-element.elementor-element-772c263 {
		text-align: center;
	}
	.elementor-215 .elementor-element.elementor-element-9984dd0 > .elementor-widget-container {
		margin: 16px 0px 0px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-9984dd0 > .elementor-widget-container {
		max-width: 450px;
		text-align: center;
		margin: 16px auto 25px auto;
	}
	.elementor-215 .elementor-element.elementor-element-4ae6fbd > .elementor-element-populated {
		padding: 0px 10px 0px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-d5dde90 {
		padding: 40px 20px 40px 20px;
	}
	.elementor-215 .elementor-element.elementor-element-ea30f47 > .elementor-widget-container {
		margin: 22px 0px 15px 0px;
	}
	.elementor-66 .elementor-element.elementor-element-a93cf66 {
		width: 100%;
	}
	.elementor-66 .elementor-element.elementor-element-2ab3290 {
		padding: 15px 20px 15px 20px;
	}
}
@media only screen and (max-width: 834px) {
	.elementor-14 .elementor-element.elementor-element-f344bfb {
		padding: 111px 20px 120px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 55px;
		line-height: 55px;
		margin-bottom: 16px;
	}
}
@media only screen and (max-width: 767px) {
	.elementor-14 .elementor-element.elementor-element-f344bfb {
		padding: 93px 20px 100px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 12px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-subtitle {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 8px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-description {
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 23px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-description br {
		display: none;
	}
	.elementor-14 .elementor-element.elementor-element-dec4a1e {
		padding: 50px 20px 50px 20px;
	}
	.ps-heading h2 {
		font-size: 22px !important;
		line-height: 27px !important;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-button, .work-button a {
		font-size: 17px !important;
		padding: 14.5px 45.5px 14.5px 45.5px !important;
	}
	.elementor-14 .elementor-element.elementor-element-267bff2 {
		width: 100%;
	}
	.elementor-14 .elementor-element.elementor-element-eeb6492 {
		padding: 45px 20px 0px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-e2b6b03 {
		padding: 0px 20px 50px 20px;
	}
	.learn-button a {
		font-size: 17px !important;
		padding: 14.5px 55px 14.5px 55px !important;
	}
	.elementor-14 .elementor-element.elementor-element-225b0cf {
		padding: 50px 20px 50px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-4960cc6 {
		padding: 50px 20px 50px 20px !important;
	}
	.elementor-14 .elementor-element.elementor-element-5917db3 > .elementor-element-populated {
		padding: 25px 0px 0px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-e9066d2 .elementor-image-box-wrapper {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		text-align: right;
	}
	.elementor-215 .elementor-element.elementor-element-ac2126c > .elementor-element-populated {
		padding: 25px 0px 0px 0px;
	}
	.elementor-215 .elementor-element.elementor-element-8b08a1d .elementor-button {
		font-size: 17px;
		padding: 13.5px 34px 13.5px 34px;
	}
}
@media only screen and (max-width: 420px) {
	.elementor-66 .elementor-element.elementor-element-5128035 {
		width: 80%;
	}
	.elementor-66 .elementor-element.elementor-element-d11a2d7 {
		width: 20%;
	}
	.elementor-14 .elementor-element.elementor-element-f344bfb {
		padding: 75px 20px 80px 20px;
	}
	.elementor-14 .elementor-element.elementor-element-35b9d91 .pp-info-box-title {
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 15px;
	}
	.ps-heading .elementor-heading-title {
		font-size: 22px !important;
		line-height: 27px !important;
	}

}
/** Homepage Responsive CSS Ends **/

/** About Us and Work With Us Page Responsive CSS Start **/
@media only screen and (max-width: 1440px) {
	.breadcrumb-section h2 {
		font-size: 28px !important;
		line-height: 34px !important;
	}
	.breadcrumb-section .elementor-widget-pp-breadcrumbs > .elementor-widget-container {
		margin: 4px 0px 0px 0px !important;
	}
	.breadcrumb-section {
		padding: 63px 20px 63px 20px !important;
	}
	.elementor-28 .elementor-element.elementor-element-9334fa0 .elementor-heading-title, .elementor-1096 .elementor-element.elementor-element-6bc8e85 .elementor-heading-title {
		font-size: 20px;
		line-height: 28px;
	}
	.pp-contact-form-description {
		font-size: 17px !important;
		line-height: 25px !important;
		margin: 0px 0px 25px 0px !important;
	}
	.elementor-28 .elementor-element.elementor-element-b57a9d5 > .elementor-widget-container, .elementor-1096 .elementor-element.elementor-element-6f17f88 > .elementor-widget-container {
		margin: 18px 0px 0px 0px;
	}
	.elementor-28 .elementor-element.elementor-element-b57a9d5 .pp-gravity-form .gform_wrapper.gravity-theme .gform_fields, .elementor-1096 .elementor-element.elementor-element-6f17f88 .pp-gravity-form .gform_wrapper.gravity-theme .gform_fields, .elementor-30 .elementor-element.elementor-element-4df5ca8 .pp-gravity-form .gform_wrapper.gravity-theme .gform_fields {
		grid-row-gap: 21px;
	}
	input#gform_submit_button_1 {
		font-size: 18px;
		padding: 14px 55.5px 14px 55.5px;
	}
	.elementor-28 .elementor-element.elementor-element-f35ea31 > .elementor-element-populated {
		padding: 20px 100px 20px 20px;
	}
	.elementor-28 .elementor-element.elementor-element-e5e5254 {
		padding: 80px 20px 80px 20px;
	}
	.contact-icon-box h3 {
		font-size: 20px !important;
		line-height: 28px !important;
		margin-bottom: 7px !important;
	}
	.contact-icon-box .elementor-icon-box-description {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.contact-icon-box .elementor-icon {
		font-size: 20px !important;
		padding: 15px !important;
	}
	.contact-icon-box .elementor-icon-box-content {
		height: 199px;
		background: #FFFFFF;
		padding: 43px 25px 43px 25px;
	}
	.elementor-28 .elementor-element.elementor-element-b57a9d5 .gform_confirmation_wrapper {
		font-size: 28px;
		line-height: 38px;
	}
	.elementor-1096 .elementor-element.elementor-element-075262d > .elementor-element-populated {
		padding: 50px 100px 50px 20px;
	}
	input#gform_submit_button_3, input#gform_submit_button_2 {
		font-size: 18px;
		padding: 14px 90.5px 14px 90.5px;
	}
}
@media only screen and (max-width: 1280px) {
	.elementor-28 .elementor-element.elementor-element-f35ea31, .elementor-1096 .elementor-element.elementor-element-075262d, .elementor-28 .elementor-element.elementor-element-17333c9, .elementor-1096 .elementor-element.elementor-element-4d02689 {
		width: 50%;
	}
	.elementor-28 .elementor-element.elementor-element-f35ea31 > .elementor-element-populated {
		padding: 20px 50px 20px 20px;
	}
}
@media only screen and (max-width: 1024px) {
	.breadcrumb-section h2 {
		font-size: 25px !important;
		line-height: 30px !important;
	}
	.breadcrumb-section .elementor-widget-pp-breadcrumbs > .elementor-widget-container {
		margin: 5px 0px 0px 0px !important;
	}
	.breadcrumb-section {
		padding: 53px 20px 53px 20px !important;
	}
	.elementor-28 .elementor-element.elementor-element-f35ea31 > .elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}
	.elementor-28 .elementor-element.elementor-element-9334fa0 .elementor-heading-title, .elementor-1096 .elementor-element.elementor-element-6bc8e85 .elementor-heading-title {
		font-size: 18px;
		line-height: 25px;
	}
	.pp-contact-form-description {
		font-size: 16px !important;
		line-height: 22px !important;
		margin: 0px 0px 20px 0px !important;
	}
	.elementor-28 .elementor-element.elementor-element-e5e5254 {
		padding: 60px 20px 60px 20px;
	}
	.elementor-element.elementor-element-0cfac76 iframe {
		height: 1100px;
	}
	.contact-icon-box .elementor-icon-box-content {
		height: 199px;
		padding: 43px 20px 43px 20px;
	}
	.contact-icon-box .elementor-icon-box-description {
		font-size: 17px !important;
		line-height: 25px !important;
	}
	.contact-icon-box .elementor-icon-box-content {
		height: 199px;
		padding: 43px 15px 43px 15px;
	}
	.elementor-28 .elementor-element.elementor-element-b57a9d5 .gform_confirmation_wrapper {
		font-size: 25px;
		line-height: 35px;
	}
}
@media only screen and (max-width: 767px) {
	.elementor-28 .elementor-element.elementor-element-f35ea31, .elementor-1096 .elementor-element.elementor-element-075262d, .elementor-28 .elementor-element.elementor-element-17333c9, .elementor-1096 .elementor-element.elementor-element-4d02689 {
		width: 100%;
	}
	.elementor-28 .elementor-element.elementor-element-f35ea31 > .elementor-element-populated {
		padding: 44px 20px 50px 20px;
	}
	.pp-contact-form-description {
		margin: 0px 0px 17px 0px !important;
	}
	.elementor-28 .elementor-element.elementor-element-b57a9d5 .pp-gravity-form .gform_wrapper.gravity-theme .gform_fields, .elementor-1096 .elementor-element.elementor-element-6f17f88 .pp-gravity-form .gform_wrapper.gravity-theme .gform_fields, .elementor-30 .elementor-element.elementor-element-4df5ca8 .pp-gravity-form .gform_wrapper.gravity-theme .gform_fields {
		grid-row-gap: 18px;
	}
	input#gform_submit_button_1 {
		font-size: 17px;
		padding: 6px 44px 6px 44px;
	}
	.elementor-28 .elementor-element.elementor-element-e5e5254 {
		padding: 50px 20px 50px 20px;
	}
	.elementor-28 .elementor-element.elementor-element-b57a9d5 .gform_confirmation_wrapper {
		font-size: 22px;
		line-height: 32px;
	}
	.elementor-1096 .elementor-element.elementor-element-075262d > .elementor-element-populated {
		padding: 44px 20px 50px 20px;
	}
	.elementor-1096 .elementor-element.elementor-element-008a354 img {
		opacity: 1;
	}
	input#gform_submit_button_3, input#gform_submit_button_2 {
		font-size: 17px;
		padding: 6px 77px 6px 77px;
	}
}
/** About Us and Work With Us Page Responsive CSS Ends **/

/** Request a Quote Page Responsive CSS Start **/
@media only screen and (max-width: 1440px) {
	.request-quote-form .gf_progressbar_title {
		font-size: 17px !important;
		line-height: 24px !important;
		margin-bottom: 7px !important;
	}
	.req-quote-heading {
		font-size: 28px;
		line-height: 34px;
	}
	.req-quote-desc {
		font-size: 18px;
		line-height: 26px;
		margin: 7px 0px 5px 0px;
	}
	.req-quote-page-heading {
		font-size: 20px;
		line-height: 28px;
	}
	.required-msg {
		font-size: 17px;
		line-height: 24px;
		margin: 0px 0px 4px 0px;
	}
	.elementor-30 .elementor-element.elementor-element-13f4748 {
		padding: 75px 20px 80px 20px;
	}
}
@media only screen and (max-width: 1024px) {
	.request-quote-form .gf_progressbar_title {
		font-size: 16px !important;
		line-height: 22px !important;
		margin-bottom: 8px !important;
	}
	.req-quote-heading {
		font-size: 25px;
		line-height: 30px;
	}
	.required-msg {
		font-size: 16px;
		line-height: 22px;
		margin: 0px 0px 0px 0px;
	}
	.elementor-30 .elementor-element.elementor-element-13f4748 {
		padding: 55px 20px 60px 20px;
	}
	.req-quote-desc {
		font-size: 18px;
		line-height: 26px;
		margin: 8px 0px 5px 0px;
	}
}
@media only screen and (max-width: 767px) {
	.req-quote-heading {
		font-size: 22px;
		line-height: 27px;
	}
	.req-quote-desc {
		font-size: 17px;
		line-height: 25px;
		margin: 9px 0px 4px 0px;
	}
	.elementor-30 .elementor-element.elementor-element-13f4748 {
		padding: 45px 20px 50px 20px;
	}
	.req-quote-page-heading {
		font-size: 18px;
		line-height: 26px;
	}
	input#gform_next_button_2_8, input#gform_next_button_2_16 {
		padding: 4px 60px 4px 60px;
	}
}
/** Request a Quote Page Responsive CSS Ends **/

/** About Page Responsive CSS Starts **/
@media only screen and (max-width: 1680px) {
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title, .elementor-element.elementor-element-d2f474b .elementor-heading-title {
		font-size: 65px !important;
		line-height: 65px !important;
	}
}
@media only screen and (max-width: 1440px) {
	.elementor-16 .elementor-element.elementor-element-a1d65d6, .elementor-16 .elementor-element.elementor-element-af003a4 {
		padding: 73px 20px 80px 20px;
	}
	.ps-subheading h2 {
		font-size: 20px !important;
		line-height: 28px !important;
	}
	.elementor-16 .elementor-element.elementor-element-5275a5a, .elementor-16 .elementor-element.elementor-element-360c4e0, .elementor-16 .elementor-element.elementor-element-57c9c94, .elementor-16 .elementor-element.elementor-element-059b7a9 {
		padding: 80px 20px 80px 20px;
	}
	.ps-small-subheading > .elementor-widget-container {
		margin: 18px 0px 0px 0px !important;
	}
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title, .elementor-element.elementor-element-d2f474b .elementor-heading-title {
		font-size: 60px !important;
		line-height: 60px !important;
	}
	.ps-desc, .elementor-16 .elementor-element.elementor-element-f13cb15 .pp-icon-list-text {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.elementor-16 .elementor-element.elementor-element-0479a78 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-16 .elementor-element.elementor-element-916dc6e {
		padding: 72px 20px 72px 20px;
	}
	.elementor-16 .elementor-element.elementor-element-8130c6d .elementor-heading-title, .elementor-16 .elementor-element.elementor-element-d90292c .elementor-heading-title {
		font-size: 25px;
		line-height: 30px;
	}
	.elementor-16 .elementor-element.elementor-element-8130c6d > .elementor-widget-container, .elementor-16 .elementor-element.elementor-element-d90292c > .elementor-widget-container {
		margin: 17px 0px 2px 0px;
	}
}
@media only screen and (max-width: 1280px) {
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title, .elementor-element.elementor-element-d2f474b .elementor-heading-title {
		font-size: 55px !important;
		line-height: 55px !important;
	}
}
@media only screen and (max-width: 1024px) {
	.elementor-16 .elementor-element.elementor-element-a1d65d6, .elementor-16 .elementor-element.elementor-element-af003a4 {
		padding: 54px 20px 60px 20px;
	}
	.ps-subheading h2 {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.elementor-16 .elementor-element.elementor-element-5275a5a, .elementor-16 .elementor-element.elementor-element-360c4e0, .elementor-16 .elementor-element.elementor-element-57c9c94, .elementor-16 .elementor-element.elementor-element-059b7a9 {
		padding: 60px 20px 60px 20px;
	}
	.ps-small-subheading > .elementor-widget-container {
		margin: 19px 0px 0px 0px !important;
	}
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title, .elementor-element.elementor-element-d2f474b .elementor-heading-title {
		font-size: 50px !important;
		line-height: 50px !important;
	}
	.ps-desc, .elementor-16 .elementor-element.elementor-element-f13cb15 .pp-icon-list-text {
		font-size: 17px !important;
		line-height: 25px !important;
	}
	.elementor-16 .elementor-element.elementor-element-8130c6d .elementor-heading-title, .elementor-16 .elementor-element.elementor-element-d90292c .elementor-heading-title {
		font-size: 22px;
		line-height: 28px;
	}
	.elementor-16 .elementor-element.elementor-element-8130c6d > .elementor-widget-container, .elementor-16 .elementor-element.elementor-element-d90292c > .elementor-widget-container {
		margin: 18px 0px 2px 0px;
	}
	.elementor-16 .elementor-element.elementor-element-387972f .elementor-heading-title br {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.elementor-16 .elementor-element.elementor-element-a1d65d6, .elementor-16 .elementor-element.elementor-element-af003a4 {
		padding: 44px 20px 50px 20px;
	}
	.elementor-16 .elementor-element.elementor-element-5275a5a, .elementor-16 .elementor-element.elementor-element-360c4e0, .elementor-16 .elementor-element.elementor-element-57c9c94, .elementor-16 .elementor-element.elementor-element-059b7a9 {
		padding: 50px 20px 50px 20px;
	}
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title, .elementor-element.elementor-element-d2f474b .elementor-heading-title {
		font-size: 40px !important;
		line-height: 40px !important;
	}
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title {
		margin-top: 24px !important;
	}
}
@media only screen and (max-width: 420px) {
	.elementor-element.elementor-element-ff57245 .elementor-image-box-title, .elementor-element.elementor-element-d2f474b .elementor-heading-title {
		font-size: 32px !important;
		line-height: 35px !important;
	}
}
/** About Page Responsive CSS Ends **/

/** 404 Page Responsive CSS Start **/
@media only screen and (max-width: 1440px) {
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-title {
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 16px;
	}
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-description {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 23px;
	}
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-button {
		font-size: 18px;
		padding: 14px 31px 14px 31px;
	}
	.elementor-2081 .elementor-element.elementor-element-c3f28aa {
		padding: 93px 20px 100px 20px;
	}
}
@media only screen and (max-width: 1024px) {
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-title {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 18px;
	}
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-description {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 23px;
	}
	.elementor-2081 .elementor-element.elementor-element-c3f28aa {
		padding: 74px 20px 80px 20px;
		background-size: 50%;
	}
}
@media only screen and (max-width: 767px) {
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-title {
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 13px;
	}
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-description {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 23px;
	}
	.elementor-2081 .elementor-element.elementor-element-c3f28aa {
		padding: 55px 20px 60px 20px;
		background-size: 65%;
	}
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-button {
		font-size: 17px;
		padding: 14.5px 21px 14.5px 21px;
	}
	.elementor-2081 .elementor-element.elementor-element-948331c .pp-info-box-description br {
		display: none;
	}
}
/** 404 Page Responsive CSS Ends **/

/** Confirmation Pages Responsive CSS Start **/
@media only screen and (max-width: 1440px) {
	.elementor-1148 .elementor-element.elementor-element-419eb8f, .elementor-1128 .elementor-element.elementor-element-1267e5c {
		padding: 80px 20px 80px 20px;
	}
	.elementor-1148 .elementor-element.elementor-element-759144f .pp-info-box-icon, .elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-icon {
		font-size: 20px;
		padding: 15px 15px 15px 15px;
	}
	.elementor-1148 .elementor-element.elementor-element-759144f .pp-info-box-icon-wrap {
		margin-bottom: 19px;
	}
	.elementor-element-4f26eec h5.pp-info-box-subtitle, .elementor-element-2e20c35 .pp-info-box-title {
		font-size: 28px !important;
		line-height: 34px !important;
	}
	.elementor-1148 .elementor-element.elementor-element-759144f .pp-info-box-subtitle {
		margin-bottom: 23px;
	}
	.elementor-element-759144f .pp-info-box-footer a.pp-info-box-button.elementor-button.elementor-size-md, .elementor-element-2e20c35 .pp-info-box-footer a.pp-info-box-button.elementor-button.elementor-size-md {
		font-size: 18px !important;
		padding: 14px 31px 14px 31px !important;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-subtitle{
		font-size: 20px !important;
		line-height: 28px !important;
		margin-bottom: 23px !important;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-title {
		margin-bottom: 16px;
	}
}
@media only screen and (max-width: 1024px) {
	.elementor-1148 .elementor-element.elementor-element-419eb8f, .elementor-1128 .elementor-element.elementor-element-1267e5c {
		padding: 60px 20px 60px 20px;
	}
	.elementor-element-759144f .pp-info-box-title {
		font-size: 17px !important;
		line-height: 24px !important;
		margin-bottom: 18px !important;
	}
	.elementor-element-4f26eec h5.pp-info-box-subtitle, .elementor-element-2e20c35 .pp-info-box-title {
		font-size: 25px !important;
		line-height: 30px !important;
	}
	.elementor-1148 .elementor-element.elementor-element-759144f .pp-info-box-subtitle {
		margin-bottom: 24px;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-icon-wrap {
		margin-bottom: 18px;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-subtitle {
		font-size: 18px !important;
		line-height: 26px !important;
		margin-bottom: 23px !important;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-title {
		margin-bottom: 18px;
	}
}
@media only screen and (max-width: 767px) {
	.elementor-1148 .elementor-element.elementor-element-419eb8f, .elementor-1128 .elementor-element.elementor-element-1267e5c {
		padding: 50px 20px 50px 20px;
	}
	.elementor-element-4f26eec h5.pp-info-box-subtitle, .elementor-element-2e20c35 .pp-info-box-title {
		font-size: 22px !important;
		line-height: 27px !important;
	}
	.elementor-element-759144f .pp-info-box-footer a.pp-info-box-button.elementor-button.elementor-size-md, .elementor-element-2e20c35 .pp-info-box-footer a.pp-info-box-button.elementor-button.elementor-size-md {
		font-size: 17px !important;
		padding: 14.5px 24.5px 14.5px 24.5px !important;
	}
	.elementor-1148 .elementor-element.elementor-element-759144f .pp-info-box-icon-wrap {
		margin-bottom: 13px;
	}
	.elementor-element-759144f .pp-info-box-title {
		font-size: 17px !important;
		line-height: 24px !important;
		margin-bottom: 14px !important;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-icon-wrap {
		margin-bottom: 13px;
	}
	.elementor-1128 .elementor-element.elementor-element-2e20c35 .pp-info-box-title {
		margin-bottom: 13px;
	}
}
/** Confirmation Pages Responsive CSS Ends **/

/** Projects Pages Responsive CSS Start **/
@media only screen and (max-width: 1440px) {
	.elementor-26 .elementor-element.elementor-element-b996f3f {
		padding: 73px 20px 80px 20px;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f > .elementor-widget-container {
		margin: 38px 0px 0px 0px;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f .pp-post-filters {
		margin-bottom: 33px;
	}
	.elementor-1537 .elementor-element.elementor-element-93b2d73 .elementor-heading-title {
		font-size: 22px !important;
		line-height: 28px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-dc517aa {
		font-size: 18px !important;
		line-height: 26px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-93b2d73 > .elementor-widget-container {
		margin: 0px 0px 16px 0px !important;
	}
	.elementor-element.elementor-element-dc517aa > .elementor-widget-container {
		height: 255px;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f .pp-posts-pagination .page-numbers, .elementor-26 .elementor-element.elementor-element-9788e2f .pp-posts-pagination a {
		font-size: 18px;
		padding: 14px 71.5px 14px 71.5px;
	}
}
@media only screen and (max-width: 1024px) {
	.elementor-26 .elementor-element.elementor-element-b996f3f {
		padding: 54px 20px 60px 20px;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f > .elementor-widget-container {
		margin: 28px 0px 0px 0px;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f .pp-post-filters {
		margin-bottom: 23px;
	}
	.elementor-1537 .elementor-element.elementor-element-e07de79 > .elementor-element-populated {
		padding: 0px 20px 0px 0px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-fcc3991 > .elementor-element-populated {
		padding: 0px 0px 0px 0px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-93b2d73 .elementor-heading-title {
		font-size: 20px !important;
		line-height: 26px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-93b2d73 > .elementor-widget-container {
		margin: 0px 0px 19px 0px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-dc517aa {
		font-size: 17px !important;
		line-height: 25px !important;
	}
	.elementor-element.elementor-element-dc517aa > .elementor-widget-container {
		height: 195px;
	}
}
@media only screen and (max-width: 834px) {
	.elementor-element.elementor-element-dc517aa > .elementor-widget-container {
		height: 125px;
	}
}
@media only screen and (max-width: 767px) {
	.elementor-26 .elementor-element.elementor-element-b996f3f {
		padding: 34px 20px 60px 20px;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f > .elementor-widget-container {
		margin: 21px 0px 0px 0px;
	}
	.elementor-1537 .elementor-element.elementor-element-e07de79 > .elementor-element-populated {
		padding: 0px 0px 19px 0px !important;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f .pp-post-filters {
		margin-bottom: 18px;
	}
	.elementor-1537 .elementor-element.elementor-element-dc517aa {
		font-size: 16px !important;
		line-height: 24px !important;
	}
	.elementor-1537 .elementor-element.elementor-element-93b2d73 > .elementor-widget-container {
		margin: 0px 0px 13px 0px !important;
	}
	.elementor-element.elementor-element-dc517aa > .elementor-widget-container {
		height: unset;
	}
	.elementor-26 .elementor-element.elementor-element-9788e2f .pp-posts-pagination .page-numbers, .elementor-26 .elementor-element.elementor-element-9788e2f .pp-posts-pagination a {
		font-size: 17px;
		padding: 14px 59px 14px 59px;
	}
}
/** Projects Pages Responsive CSS Ends **/
