#exhibitor-members-list_wrapper {
    width: 97%;
    background-color: #fff;
    padding: 18px;
    border-radius: 10px;
    margin-top: 20px;
}
li#toplevel_page_exhibitor-management .wp-submenu-wrap li:last-child {
    display: none;
}
#gform_18 .gfield--type-radio .gfield_radio, #gform_19 .gfield--type-radio .gfield_radio {
    display: flex;
    justify-content: flex-start;
    /* width: calc(100% - 450px); */
    margin-top: 15px;
}

#gform_18 .gchoice, #gform_19 .gchoice {
    width: 100%;
}
.booth-totalizer {
    font-size: 20px;
    float: right;
    margin-right: 20px;
}
div.dt-buttons {
    float: left;
    margin-right: 10px;
}
div#exhibitor-members-list_filter {
    display: flex;
    gap: 10px;
}

.filter_plan_to_exhibit, .filter-by-status {
    padding: 5px;
}
.year-filter {
    /* margin-top: 10px; */
}

.dt-buttons {
    display: flex;
    gap: 20px;
}

#exhibitor-members-list_length select {
    width: 50%;
}

#exhibitor-members-list_wrapper .dt-btn-split-drop {
    margin-left: -2px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#exhibitor-members-list_wrapper .dt-btn-split-drop:hover {
    border: 1px solid #666;
}

#exhibitor-members-list_wrapper .dt-button.buttons-csv.buttons-html5 {
    border-radius: 0;
}

#exhibitor-members-list_length {
    width: 10%;
}

#exhibitor-container {
    display: flex;
    gap: 25px;
}

#gravity-form-container {
    width: 60%;
}

#exhibitor-container .gform_required_legend,
#exhibitor-container .gfield--type-column_start,
#exhibitor-container .gfield--type-column_end {
    display: none;
}

#exhibitor-container .exhibitors-contact-res-heading em {
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;
    font-style: normal;
}

#field_18_18 .registration-form-heading {
    padding-bottom: 0;
    background-color: transparent;
}
#field_18_34 {
    display: none;
}
#exhibitor-container div#gform_wrapper_18,
#exhibitor-profile div#gform_wrapper_19,
#exhibitor-send-invitation div#gform_wrapper_17 {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
}

#exhibitor-container .gform_title,
#exhibitor-profile .gform_title,
#exhibitor-send-invitation .gform_title {
    font-size: 30px;
    line-height: 1.5em;
    margin-top: 0;
    text-align: center;
}

#exhibitor-container .registration-form-heading,
#exhibitor-profile .registration-form-heading {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    padding: 10px;
    background: #bdbdbd70;
}

#exhibitor-container label,
#exhibitor-profile label,
#field_18_18 .registration-form-heading,
#field_19_18 .registration-form-heading,
#exhibitor-send-invitation label,
#field_17_2 legend {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

p.exhibitors-contact-res-heading {
    background-color: #bdbdbd70;
    padding: 5px;
}

#exhibitor-profile p.gform_required_legend {
    display: none;
}

#exhibitor-container .exhibitors-contact-res-heading em,
#exhibitor-profile .exhibitors-contact-res-heading em {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
}

#field_18_18 .registration-form-heading,
#field_19_18 .registration-form-heading {
    background: transparent;
    padding: 0;
}

#exhibitor-container .registration-required-heading,
#exhibitor-profile .registration-required-heading {
    position: absolute;
    right: 0;
    top: 65px;
    font-size: 15px;
    margin: 0;
}

#exhibitor-container #gform_submit_button_18,
#exhibitor-profile #gform_submit_button_19,
#exhibitor-send-invitation #gform_submit_button_17 {
    background: #F7C338;
    color: #080E41;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    padding: 6px 50px;
    margin-bottom: 0;
}

#exhibitor-container #gform_submit_button_18:hover,
#exhibitor-profile #gform_submit_button_19:hover,
#exhibitor-send-invitation #gform_submit_button_17:hover {
    background: #080E41;
    color: #F7C338;
    transition: 0.25s all;
}

#exhibitor-container select,
#exhibitor-profile select {
    height: 48px;
    padding: 8px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
}

#exhibitor-container .gfield--type-choice label,
#exhibitor-profile .gfield--type-choice label {
    padding-bottom: 0;
}

#exhibitor-members-list_length select {
    padding: 2.5px 5px;
}

.exhibitor-profile-wrap {
    display: flex;
    gap: 20px;
}

#exhibitor-assistant-container {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
}

#exhibitor-assistant-container h1 {
    font-size: 30px;
    line-height: 1.5em;
    font-weight: 600;
    padding: 0;
    margin: 0px auto 1em auto !important;
    display: table !important;
}

#exhibitor-assistant-container .ui-accordion-header {
    font-size: 16px;
    line-height: 26px;
    padding: 11px 20px;
    margin: 10px 0 0 0;
    background: #F7C338;
    color: #252F86;
    outline: none !important;
    border: 0 !important;
}

#exhibitor-assistant-container .ui-accordion-header span {
    padding-left: 2px;
    display: inline-block;
}

#exhibitor-assistant-container .ui-accordion-content {
    position: relative;
    padding: 20px 20px !important;
}

#exhibitor-assistant-container .assistants-billing-address p,
#exhibitor-assistant-container .assistants-billing-address label {
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#exhibitor-assistant-container .assistants-billing-address p span {
    font-weight: 600;
}

#exhibitor-assistant-container .assistants-billing-address input {
    border-color: #000000;
}

#exhibitor-assistant-container .assistant-form label {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #3c434a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#exhibitor-assistant-container .assistant-form input[type="text"],
#exhibitor-assistant-container .assistant-form input[type="email"],
#exhibitor-assistant-container .assistant-form select {
    font-size: 15px;
    padding: 8px;
    width: 100%;
    margin-top: 9px;
    outline: none !important;
    box-shadow: none !important;
}

#exhibitor-assistant-container .assistant-form input[type="text"]:focus,
#exhibitor-assistant-container .assistant-form input[type="email"]:focus,
#exhibitor-assistant-container .assistant-form select:focus {
    border-color: #2c3338;
}

.assistants-billing-address-update {
    margin-top: 13px;
}

.assistants-billing-form-btn {
    background: #F7C338;
    color: #080E41;
    border: 0;
    border-radius: 0;
    font-size: 18px !important;
    padding: 16px 30px;
    margin-bottom: 0;
    cursor: pointer;
}

.assistants-billing-form-btn:hover {
    background: #080E41;
    color: #F7C338;
    transition: 0.25s all;
}

#exhibitor-assistant-container .assistant-form select {
    color: #2c3338;
}

#assistant-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #898989a6;
    z-index: 9;
    border-radius: 10px;
    top: 0;
    left: 0;
}

#assistant-spinner:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    border-top-color: transparent;
    top: 50%;
    left: 50%;
    animation: spin 1.5s linear infinite;
    /* transform: translate(-50%, -50%); */
}

/* #assistant-spinner:before { */
    /* animation: spin 1.5s linear infinite; */
    /* top: 44.8%; */
    /* left: 45.5%; */
/* } */
@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.assign-booth-products {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    height: max-content;
}

.assign-booth-products h1 {
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 600;
    padding: 0;
    margin: 0px auto 1em auto !important;
}

#assign-booth-product-exhibitor #booth-products {
    font-size: 16px !important;
    border: 1px solid;
    padding: 10px 5px;
    color: #000000;
    box-shadow: none;
}

#assign-booth-product-exhibitor .action-btn {
    display: flex;
    gap: 10px;
}

#send-invoice-assign-booth, #save-count-booth {
    background: #F7C338;
    color: #080E41;
    border: 0;
    border-radius: 0;
    font-size: 18px !important;
    padding: 6px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#send-invoice-assign-booth:hover, #save-count-booth:hover {
    background: #080E41;
    color: #F7C338;
    transition: 0.25s all;
}

.exhibitor-profile-wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.exhibitor-profile-wrap .assign-booth-products,
.exhibitor-profile-wrap .assign-booth-number-current-year,
.exhibitor-profile-wrap .booth-number-container {
    width: 29% !important;
}

#exhibitor-profile,
#exhibitor-assistant-container {
    width: 45% !important;
}

.assign-booth-products {
    background-color: #fff;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    height: max-content;
    width: 33%;
    max-width: 100%;
}

.assign-booth-products .select2-container--default .select2-selection--multiple {
    padding-bottom: 0px !important;
    width: 100% !important;
}

.assign-booth-number-current-year {
    width: 33%;
    background: #FFFFFF;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    max-width: 100%;
}

.assign-booth-number-current-year input.button,
button#add-new-assistant {
    background: #F7C338 !important;
    color: #000000 !important;
    font-weight: 400;
    border: none !important;
    border-radius: 0 !important;
    padding: 4px 13px !important;
    font-size: 13px !important;
}

.booth-number-container {
    background: #fff;
    width: 33%;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
}

.assign-booth-number-current-year h1,
.booth-number-container h1 {
    color: #1D2327;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5em;
}

.assign-booth-number-current-year label,
.assign-booth-number-current-year label,
.assign-booth-products p {
    font-size: 16px;
    padding: 0px 0px 10px 0px !important;
    font-weight: 600;
    display: block;
}

.booth-number-container h2.booth-years {
    font-size: 16px;
    font-weight: 600;
}

div#exhibitor-profile {
    width: 45% !important;
}

div#exhibitor-assistant-container {
    width: 50% !important;
}

button#hide-new-assistant:hover {
    background: #080E41 !important;
    color: #F7C338 !important;
}

.assign-booth-number-current-year input.button:hover,
button#add-new-assistant:hover {
    background: #080E41;
    color: #F7C338 !important;
}

#exhibitor-assistant-container button.add_repeater_item {
    background: #F7C338;
    color: #080E41;
    font-size: 13px;
    font-weight: 400 !important;
    padding: 4px 13px;
}

#exhibitor-assistant-container button.add_repeater_item:hover {
    background: #080E41;
    color: #F7C338 !important;
}

#exhibitor-assistant-container input#gform_submit_button_14 {
    font-size: 18px;
    padding: 6px 20px;
    background: #F7C338;
    border: 0;
    border-radius: 0;
    color: #080E41 !important;
}

#exhibitor-assistant-container input#gform_submit_button_14:hover {
    background: #080E41;
    color: #F7C338 !important;
}

button#hide-new-assistant {
    background: #F7C338;
    padding: 5px 13px;
    border: 0;
    font-size: 13px !important;
    font-weight: 400;
    margin-left: 3px;
}

button#hide-new-assistant {
    background: #F7C338 !important;
    padding: 4px 13px !important;
    border: 0 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    margin-left: 3px !important;
}

.assign-booth-number-current-year input.button:hover,
button#add-new-assistant:hover {
    background: #080E41 !important;
    color: #F7C338 !important;
}

.assign-booth-number-current-year input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.assign-booth-number-current-year input {
    font-size: 15px;
    padding: 8px;
    width: 100% !important
}

.booth-number-container li {
    font-size: 15px !important;
    font-weight: 500;
}

.assign-booth-number-current-year input:focus {
    border-color: #2C3338;
}

#exhibitor-assistant-container .gform_wrapper.gravity-theme .gfield_repeater_wrapper input {
    border: 1px solid #8C8F94;
    border-radius: 4px;
    width: 100%;
}

label.gfield_label.gform-field-label {
    color: #1D2327 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

#exhibitor-assistant-container .gform_wrapper.gravity-theme .gfield_repeater_wrapper input:focus {
    border-color: #2C3338;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    background: #F0F0F1;
    border-bottom: 1px solid #F0F0F1 !important;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active a {
    color: #000;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    line-height: 1.71428571;
    margin-left: 0.5em;
    border-bottom: 0 !important;
    border-radius: 0 !important;
    border: solid 1px #C3C4C7;
    background: #dcdcde;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab a {
    color: #50575e
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab a:hover {
    color: #3c434a
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab a:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 !IMPORTANT;
}

ul.ui-tabs-nav.ui-corner-all.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    padding-top: 25px;
    border-bottom: 1px solid #C3C4C7;
    border-radius: 0 !important;
    background: transparent;
    border-width: 0 0 1px 0 !important;
}

.exhibitor-profile-wrap {
    display: block !important;
}

.exhibitor-profile-wrap .assign-booth-products,
.exhibitor-profile-wrap .assign-booth-number-current-year,
.exhibitor-profile-wrap .booth-number-container {
    width: 45% !important;
    display: inline-block;
    vertical-align: top;
}

.assign-booth-products p {
    padding: 0px !important;
    margin: 11px 0px !important;
}

.assign-booth-products {
    border: saddlebrown;
}

#assign-booth-product-exhibitor input[type="number"] {
    padding: 8px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
}

input[type="hidden"] {
    font-size: 16px !important;
}

.assistant-actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

form#representative-form input {
    font-size: 15px !important;
    padding: 8px !important;
    border: solid 1px #8C8F94;
    color: #2C3338 !important;
    background: #FFFFFF !important;
}

#representative-form .form-group {
    margin-bottom: 20px !important;
}

form#representative-form label {
    color: #1D2327 !important;
    font-size: 16px;
    font-weight: 600;
    width: 116px !important;
    display: inline-block;
    vertical-align: top;
}

form#representative-form {
    margin-top: 20px;
}

button#representative-save {
    background: #F7C338;
    font-size: 18px !important;
    padding: 12px 50px;
    border: 0;
    color: #080E41;
    cursor: pointer;
}

button#representative-save:hover {
    background: #080E41;
    color: #F7C338;
}

div#booth-admin-tabs-notes h1 {
    font-size: 16px !important;
    font-weight: 600;
    color: #1D2327;
    margin-bottom: 10px;
}

button#notes-save {
    background: #F7C338;
    font-size: 18px !important;
    padding: 12px 31px !important;
    border: 0;
    color: #080E41;
    cursor: pointer;
    margin-top: 20px;
}

button#notes-save:hover {
    background: #080E41;
    color: #F7C338;
}
p.exhibitors-contact-res-heading.primary-exhibitors-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

em.primary-exhibitors-email-exist {
    background: #f7c338;
    color: #080e41;
    border: 0;
    border-radius: 0;
    padding: 2px 25px;
    margin-bottom: 0;
}
em.primary-exhibitors-email-exist .dashicons-yes:before {
    color: green;
    font-size: 34px;
}
.primary-exhibitors-contact span.dashicons-before.dashicons-yes {
    padding-right: 15px;
}
button#reset_filter {
    background: #F7C338;
    color: #080E41;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    padding: 9.5px 20px;
    transition: 0.2s all;
}
button#reset_filter:hover {
     color: #F7C338;
    background: #080E41;
}
#gform_14 .gfield_description.validation_message {
    padding: 5px 10px !important;
}
#booth-admin-tabs-payment th {
    border-bottom: 1px solid #8f8f8f;
}
#booth-admin-tabs-payment th, #booth-admin-tabs-payment td {
    width: 20% !important;
    text-align: center;
    padding: 10px 10px;
}
#booth-admin-tabs-payment a.button {
    background: #f7c338;
    font-size: 15px!important;
    padding: 2px 21px!important;
    border: 0;
    border-radius: 0;
    color: #080e41;
    cursor: pointer;
}
#booth-admin-tabs-payment a.button:hover {
     background: #080e41;
    color: #f7c338;
}
#booth-admin-tabs-payment tr.order:nth-child(even) {
    background: #efefef;
}
[data-name="assigned_booth_number"] option:disabled {
    background: #b1aaaab0;
}
#gform_19 .wrapper-div-setting {
    display: flex;
    column-gap: 20px;
}